*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  user-select: none;
}

header{
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: rgb(150, 207, 36);
  position: fixed;
  top: 0;
  padding: 5px 50px;
  flex-wrap: wrap;
  z-index: 10;
  height: 5rem;
}
.logo{
  display: flex;
  justify-content:left;
  align-items: center;
  padding-right: 400px;
}
nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}
nav li{
  padding: 10px ;
  font-size: 22px;
}
nav li:hover{
  color: #29d9d5;
}
a{
  text-decoration: none;
}
i{
  color: #29d9d5;
  font-size: 32px;
  padding: 5px;
}
h1{
  padding-left: 10px;
}
#fr{
  background-image:url("./Images/IMG-20221125-WA0031.jpg");
  /* background-color: purple; */
  height: 90vh;
  display: flex;
}
#mi{
  height: 70vh;
  width: 250px;
  margin-left: 250px;
  margin-top: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
#mig{
  margin-top: 5vh;
  width: 240px;
  height: 65vh;
}
#imc{
  align-self: center;
  margin: 100px;
  width: 60vw;
}
#imc>h1{
  color: white;
  font-size: 85px;
}
#imc>div{
  margin-top: 20px;
  width: 190px;
  height: 35px;
  padding-top: 10px;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  font-weight: bolder;
}